body {
font-family: Arial;
background: #f4f8fb;
text-align: center;
}

.container {
margin-top: 50px;
}

input, button {
padding: 10px;
margin: 5px;
border-radius: 8px;
border: none;
}

button {
background: #4CAF50;
color: white;
cursor: pointer;
}

button:hover {
background: #45a049;
}

.card {
background: white;
padding: 20px;
border-radius: 15px;
margin: 20px auto;
width: 320px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#dashboard {
display: none;
}

#status {
font-size: 20px;
font-weight: bold;
margin: 10px;
}

video {
width: 100%;
border-radius: 10px;
}
